node_modules/
.env
.env/*
frontend/.env.*
dist/
cache/
artifacts/
typechain-types/
coverage/
coverage.json
*/.env.*
# Frontend
frontend/.next/
frontend/out/
frontend/build/
frontend/node_modules/

# IDE
.idea/
*.swp
.DS_Store
